@page
@model IndexModel
@{
    ViewData["Title"] = "Home pages";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var user in Model.Users)
    {
        @if(user.ItsASaleDay == true)
        {
            <img src="/images/sale.jpg" alt="Alternate Text" />
            <p>It's a Sale Day for @user.Name!</p>
        }
        else
        {
            <p>It's not a Sale Day for @user.Name.</p>
        }
        <hr />
    }
</div>
