@page
@model IndexModel
@{
    ViewData["Title"] = "Home pages";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @foreach (var item in Model.SaleDayMessage)
    {
        <p>@item</p>
    }
</div>
